:root {
  --color-text: #515151;
  --color-text-emphasize: #333333;
  --color-text-lighter: rgba(0, 0, 0, 0.4);
  --color-text-solight: rgba(0, 0, 0, 0.16);
  --color-background: #ffffff;
  --color-hint: #fcfcfc;
  --color-background-inner: rgba(255, 255, 255, 0.8);
  --color-decoration: rgba(0, 0, 0, 0.04);
  --color-decoration-darker: rgba(0, 0, 0, 0.08);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --color-text: rgba(255, 255, 255, 0.6);
    --color-text-emphasize: #eeeeee;
    --color-text-lighter: rgba(255, 255, 255, 0.4);
    --color-text-solight: rgba(255, 255, 255, 0.16);
    --color-background: #222222;
    --color-hint: #202020;
    --color-background-inner: rgba(hexToRGB(#222222), 0.8);
    --color-decoration: rgba(255, 255, 255, 0.04);
    --color-decoration-darker: rgba(255, 255, 255, 0.08);
  }
}

body {
  font: 400 16px/1.6 PingFang SC, Lantinghei SC, Microsoft Yahei,
    Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
  margin: 0;
  position: relative;
  padding-top: 10vh;
  padding-right: 10vw;
  padding-bottom: 10vh;
  padding-left: 10vw;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: var(--color-background);
}

main {
  display: block;
  justify-content: center;
}

footer {
  position: fixed;
  width: 80vw;
  text-align: center;
  bottom: 0;
  color: var(--color-text-lighter);
}

a {
  text-decoration: none;
}

a {
  display: inline-block;
  margin-top: 2.4rem;
  margin-right: 0.2rem;
  padding: 0.3rem 0.8rem;
  background: var(--color-decoration);
  border-radius: 4px;
  font-size: 1.1rem;
  color: var(--color-text-lighter);
  transition: all 0.3s ease;
}

a:hover {
  background: var(--color-text);
  color: var(--color-background);
}

h1 {
  font-size: 3rem;
  color: var(--color-text-emphasize);
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  color: var(--color-hint);
  font-weight: bold;
}

split {
  color: var(--color-text-emphasize);
}

@media screen and (max-width: 400px) {
  a {
    font-size: 0.8rem;
  }
}
